{% extends 'layout.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2>New Messages</h2>

        <form action="{{ path('compose') }}" method="POST">
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock %}