{% extends 'layout.twig' %}

{% block content %}
    <div class="col-md-6">
        <h2>Unread Messages</h2>

        {% include 'messages/_list.twig' with {'show_controls': true} %}
    </div>
    <div class="col-md-6">
        <h2>Send Message</h2>

        <form action="{{ path('compose') }}" method="POST">
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock %}