{% extends 'layout.twig' %}

{% block content %}
    <div id="wrapper">
        <!--Page wrapper-->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="col-xs-12">
                    <p>Hello World</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}