{% extends 'base.twig' %}

{% block body %}
    {% include 'nav.twig' with { 'sidebar': 'sidebar.twig' } %}

    <div id="wrapper">
        <div class="container-fluid">
            {% include '_flash.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}