{% extends 'base.twig' %}

{% block body %}
    {% include 'nav.twig' with { 'sidebar': 'admin/sidebar.twig' } %}

    <div id="wrapper">
        <!--Page wrapper-->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% include '_flash.twig' %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}