<!-- Sidebar Menu Items-->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="{{ path('admin_users') }}"><i class="fa fa-user"></i> Users</a>
        </li>
    </ul>
</div>