{% extends 'layout.twig' %}

{% block content %}
<div class="col-xs-12">
    <h2>{{ title }}</h2>
    <p class="clearfix">
        {% if show_controls %}
        <a href="{{ path('compose') }}" class="btn btn-success btn-md pull-right"><i class="fa fa-plus"></i> Compose</a>
        {% endif %}
        {{ messages | length }} message(s)
    </p>

    {% include 'messages/_list.twig' %}
</div>
{% endblock %}